{% extends 'base.html' %}
 
 
{% block title %} pockets app {% endblock %}
 
{% block content %}
    <h1> Pocket Trackerr </h1>
    {% for pocket in pocketitems %}
    <div class="post">
        <h2>
            <a href="{{pocket.get_absolute_url}}">
                {{pocket}}
            </a>
        </h2>
        <p> price is</p?
        <p>{{pocket.price}}</p>
        <p>
            Posted on
            <time datetime="{{pocket.created|date:"c"}}">
            {{pocket.date}}
            </time>
        </p>
    </div>
    {% endfor %}
{% endblock %}


